/* Global styles. These are used by `render`: */

span.tt {
  font-family: monospace;
  font-size: 0.8em;
  /* background-color:rgba(150, 150, 150, 0.5) */
  padding: 0px 5px;
}

code.link {
  font-size: 0.8em;
}

img {
  margin: 10px;
  vertical-align: middle;
}

/* In print-pdf the author line seems to appear and push everything down. So: */

author {
  display: none;
}

/* Personalise to add global styling below (over and above presentation-specific styles): */
